{% extends 'homepage_base.html' %}
{% load staticfiles %}
{% block title %}机构统计{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <style>
        .glyphicon-sort-by-attributes,.glyphicon-tags,.glyphicon-user{
            color: #0f0f0f;
            font-size: 15px;
        }
        th{
            font-size: 15px;
        }
        td{
            font-size: 14px;
        }
    </style>
{% endblock %}
{% block custom_js %}
    <script src="{% static 'static/js/jQuery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
{% endblock %}
{% block pageMiddle %}
<section>
	<div class="wp list personal_list comp">
        <div id="list-group" class="left">
			<ul>
				<li><a href="#2018AAAI">2018年机构统计数据</a></li>
                <li><a href="">近三年机构统计数据</a></li>
                <li><a href="">近五年机构统计数据</a></li>
			</ul>
		</div>
        <div class="right companycenter layout grouping" >
            <div class="head">
                <h1 id="2018AAAI">2018年会议论文</h1>
            </div>
            <div class="layui-tab" lay-filter="test">
              <ul class="layui-tab-title">
                <li class="layui-this" lay-id="11">所有作者</li>
                <li lay-id="22">仅第一作者</li>
              </ul>
              <div class="layui-tab-content">
                {#第一个选项卡的内容#}
                <div class="layui-tab-item layui-show">
                    <table class="layui-table" lay-even lay-skin="nob" style="word-break:break-word">
                        <colgroup>
                            <col width="14%">
                            <col width="40%">
                            <col width="27%">
                            <col>
                        </colgroup>
                        {#表头#}
                        <thead>
                            <tr class="info">
                                <th><span class="glyphicon glyphicon-sort-by-attributes"></span>&nbsp;&nbsp;序号</th>
                                <th><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;&nbsp;所属机构</th>
                                <th><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;所属国家</th>
                                <th><span class="glyphicon glyphicon-signal"></span>&nbsp;&nbsp;发表频数</th>
                            </tr>
                        </thead>
                        {#表格#}
                        {#遍历每一行#}
                        <tbody>
                            {% for rowkey,dict in author_allDict.items %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ dict.info.affiliation }}</td>
                                    <td>{{ dict.info.autName }}</td>
                                    <td>{{ dict.info.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {#第二个选项卡的内容#}
                <div class="layui-tab-item">
                    <table class="layui-table" lay-even lay-skin="nob" style="word-break:break-word">
                        <colgroup>
                            <col width="14%">
                            <col width="40%">
                            <col width="27%">
                            <col>
                        </colgroup>
                        {#表头#}
                        <thead>
                            <tr class="info">
                                <th><span class="glyphicon glyphicon-sort-by-attributes"></span>&nbsp;&nbsp;序号</th>
                                <th><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;&nbsp;所属机构</th>
                                <th><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;所属国家</th>
                                <th><span class="glyphicon glyphicon-signal"></span>&nbsp;&nbsp;发表频数</th>
                            </tr>
                        </thead>
                        {#表格#}
                        {#遍历每一行#}
                        <tbody>
                            {% for rowkey,dict in author_allDict.items %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ dict.info.affiliation }}</td>
                                    <td>{{ dict.info.autName }}</td>
                                    <td>{{ dict.info.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block bottom_script %}
    <script>
        //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function(){
          var element = layui.element;

          //…
        });
    </script>
{% endblock %}