{% extends 'homepage_base.html' %}
{% load staticfiles %}
{% block title %}作者统计{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <style>
        .glyphicon-sort-by-attributes,.glyphicon-tags,.glyphicon-user{
            color: #0f0f0f;
            font-size: 15px;
        }
        th{
            font-size: 15px;
        }
        td{
            font-size: 14px;
        }
    </style>
{% endblock %}
{% block custom_js %}
    <script src="{% static 'static/js/jQuery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-Loading.css' %}" />
    <style>
        .bar-wholeScreen{
            position: relative;
            width: 100%;
            height: 520px;
        }
    </style>
{% endblock %}
<!--Loading页面,用vh单位表示当前浏览器视窗高度百分比-->
{% block loadingPage %}
<div id="loader" class="bar-wholeScreen" style="height: 100vh">
		<span class="circle">LOA
		<div class="scircle"></div>
		<div class="scircle"></div>
		</span>
		<span class="circle">D
		<div class="scircle"></div>
		<div class="scircle"></div>
		</span>
		<span class="circle">ING
		<div class="scircle"></div>
		<div class="scircle"></div>
		</span>
	</div>
{% endblock %}
{#全局搜索栏默认选项适配页面#}
{% block selectOption %}
    <span class="selectOption" id="jsSelectOption" data-value="creator">
        作者
    </span>
{% endblock %}
{% block pageMiddle %}
<section>
	<div class="wp list personal_list comp">
        <div id="list-group" class="left">
			<ul>
				<li><a href="#2018AAAI">2018年作者统计数据</a></li>
                <li><a href="#p3_AAAI">近3年作者统计数据</a></li>
                <li><a href="#p5_AAAI">近5年作者统计数据</a></li>
			</ul>
		</div>
        {#2018AAAI作者信息#}
        <div class="right companycenter layout grouping" >
            <div id="2018AAAI" class="head">
                <h1>2018年作者统计数据</h1>
            </div>
            <div class="layui-tab" lay-filter="test">
              <ul class="layui-tab-title">
                <li class="layui-this" lay-id="11">所有作者</li>
                <li lay-id="22">仅第一作者</li>
              </ul>
              <div class="layui-tab-content">
                {#第一个选项卡的内容#}
                <div class="layui-tab-item layui-show">
                    <table class="layui-table" lay-even lay-skin="nob" style="word-break:break-word">
                        <colgroup>
                            <col width="14%">
                            <col width="27%">
                            <col width="40%">
                            <col>
                        </colgroup>
                        {#表头#}
                        <thead>
                            <tr class="info">
                                <th><span class="glyphicon glyphicon-sort-by-attributes"></span>&nbsp;&nbsp;序号</th>
                                <th><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;作者姓名</th>
                                <th><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;&nbsp;所属机构</th>
                                <th><span class="glyphicon glyphicon-signal"></span>&nbsp;&nbsp;发表频数</th>
                            </tr>
                        </thead>
                        {#表格#}
                        {#遍历每一行#}
                        <tbody>
                            {% for rowkey,dict in author_allDict2018.items %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ dict.info.autName }}</td>
                                    <td>{{ dict.info.affiliation }}</td>
                                    <td>{{ dict.info.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {#第二个选项卡的内容#}
                <div class="layui-tab-item">
                    <table class="layui-table" lay-even lay-skin="nob" style="word-break:break-word">
                        <colgroup>
                            <col width="14%">
                            <col width="27%">
                            <col width="40%">
                            <col>
                        </colgroup>
                        {#表头#}
                        <thead>
                            <tr class="info">
                                <th><span class="glyphicon glyphicon-sort-by-attributes"></span>&nbsp;&nbsp;序号</th>
                                <th><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;作者姓名</th>
                                <th><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;&nbsp;所属机构</th>
                                <th><span class="glyphicon glyphicon-signal"></span>&nbsp;&nbsp;发表频数</th>
                            </tr>
                        </thead>
                        {#表格#}
                        {#遍历每一行#}
                        <tbody>
                            {% for rowkey,dict in author_1stDict2018.items %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ dict.info.autName }}</td>
                                    <td>{{ dict.info.affiliation }}</td>
                                    <td>{{ dict.info.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
        </div>
        {#近3年AAAI作者信息#}
        <div class="right companycenter layout grouping" >
            <div id="p3_AAAI" class="head">
                <h1>近3年作者统计数据</h1>
            </div>
            <div class="layui-tab" lay-filter="test">
              <ul class="layui-tab-title">
                <li class="layui-this" lay-id="11">所有作者</li>
                <li lay-id="22">仅第一作者</li>
              </ul>
              <div class="layui-tab-content">
                {#第一个选项卡的内容#}
                <div class="layui-tab-item layui-show">
                    <table class="layui-table" lay-even lay-skin="nob" style="word-break:break-word">
                        <colgroup>
                            <col width="14%">
                            <col width="27%">
                            <col width="40%">
                            <col>
                        </colgroup>
                        {#表头#}
                        <thead>
                            <tr class="info">
                                <th><span class="glyphicon glyphicon-sort-by-attributes"></span>&nbsp;&nbsp;序号</th>
                                <th><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;作者姓名</th>
                                <th><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;&nbsp;所属机构</th>
                                <th><span class="glyphicon glyphicon-signal"></span>&nbsp;&nbsp;发表频数</th>
                            </tr>
                        </thead>
                        {#表格#}
                        {#遍历每一行#}
                        <tbody>
                            {% for rowkey,dict in author_allDict_p3.items %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ dict.info.autName }}</td>
                                    <td>{{ dict.info.affiliation }}</td>
                                    <td>{{ dict.info.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {#第二个选项卡的内容#}
                <div class="layui-tab-item">
                    <table class="layui-table" lay-even lay-skin="nob" style="word-break:break-word">
                        <colgroup>
                            <col width="14%">
                            <col width="27%">
                            <col width="40%">
                            <col>
                        </colgroup>
                        {#表头#}
                        <thead>
                            <tr class="info">
                                <th><span class="glyphicon glyphicon-sort-by-attributes"></span>&nbsp;&nbsp;序号</th>
                                <th><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;作者姓名</th>
                                <th><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;&nbsp;所属机构</th>
                                <th><span class="glyphicon glyphicon-signal"></span>&nbsp;&nbsp;发表频数</th>
                            </tr>
                        </thead>
                        {#表格#}
                        {#遍历每一行#}
                        <tbody>
                            {% for rowkey,dict in author_1stDict_p3.items %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ dict.info.autName }}</td>
                                    <td>{{ dict.info.affiliation }}</td>
                                    <td>{{ dict.info.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
        </div>
        {#近5年AAAI作者信息#}
        <div class="right companycenter layout grouping" >
            <div id="p5_AAAI" class="head">
                <h1>近5年作者统计数据</h1>
            </div>
            <div class="layui-tab" lay-filter="test">
              <ul class="layui-tab-title">
                <li class="layui-this" lay-id="11">所有作者</li>
                <li lay-id="22">仅第一作者</li>
              </ul>
              <div class="layui-tab-content">
                {#第一个选项卡的内容#}
                <div class="layui-tab-item layui-show">
                    <table class="layui-table" lay-even lay-skin="nob" style="word-break:break-word">
                        <colgroup>
                            <col width="14%">
                            <col width="27%">
                            <col width="40%">
                            <col>
                        </colgroup>
                        {#表头#}
                        <thead>
                            <tr class="info">
                                <th><span class="glyphicon glyphicon-sort-by-attributes"></span>&nbsp;&nbsp;序号</th>
                                <th><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;作者姓名</th>
                                <th><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;&nbsp;所属机构</th>
                                <th><span class="glyphicon glyphicon-signal"></span>&nbsp;&nbsp;发表频数</th>
                            </tr>
                        </thead>
                        {#表格#}
                        {#遍历每一行#}
                        <tbody>
                            {% for rowkey,dict in author_allDict_p5.items %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ dict.info.autName }}</td>
                                    <td>{{ dict.info.affiliation }}</td>
                                    <td>{{ dict.info.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {#第二个选项卡的内容#}
                <div class="layui-tab-item">
                    <table class="layui-table" lay-even lay-skin="nob" style="word-break:break-word">
                        <colgroup>
                            <col width="14%">
                            <col width="27%">
                            <col width="40%">
                            <col>
                        </colgroup>
                        {#表头#}
                        <thead>
                            <tr class="info">
                                <th><span class="glyphicon glyphicon-sort-by-attributes"></span>&nbsp;&nbsp;序号</th>
                                <th><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;作者姓名</th>
                                <th><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;&nbsp;所属机构</th>
                                <th><span class="glyphicon glyphicon-signal"></span>&nbsp;&nbsp;发表频数</th>
                            </tr>
                        </thead>
                        {#表格#}
                        {#遍历每一行#}
                        <tbody>
                            {% for rowkey,dict in author_1stDict_p5.items %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ dict.info.autName }}</td>
                                    <td>{{ dict.info.affiliation }}</td>
                                    <td>{{ dict.info.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block bottom_script %}
    <script>
        //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function(){
          var element = layui.element;

          //…
        });
    </script>
    <script>
        $(window).on('load', function(){
            $('#loader').hide(0);
        });
    </script>
{% endblock %}